<% content_for :page_title do %>
    <%= I18n.t("spree.editing_bulk_discount") %>
<% end %>

<% content_for :page_actions do %>
    <li>
      <%= button_link_to I18n.t("spree.back_to_bulk_discounts_list"), spree.admin_bulk_discounts_path, :icon => 'arrow-left' %>
    </li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @bulk_discount } %>

<%= form_for [:admin, @bulk_discount] do |f| %>
    <fieldset class="no-border-top">
      <%= render :partial => 'form', :locals => { :f => f } %>
      <div class="clear"></div>
      <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
    </fieldset>
<% end %>
